<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>AlgaShop - Forgot Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title">
            <div class="header-logo">
                <a href="#" class="logo">
                    <img src="/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <form th:action="@{/forgot-password}" method="post">
            <div class="info-text">
                <p>Enter your email address and we'll send you instructions to reset your password.</p>
            </div>

            <div class="row">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Email" required>
            </div>

            <div class="row button">
                <input type="submit" value="Send">
            </div>

            <div class="back-link">
                <a th:href="@{/login}">Back to Login</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>