<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>AlgaShop - Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title">
            <div class="header-logo">
                <a href="/" class="logo">
                    <img src="/img/logo.png" alt="AlgaShop">
                </a>
            </div>
        </div>
        <form method="post" th:action="@{/change-password}">
            <input type="hidden" readonly name="token" th:value="${token}"/>
            <input type="hidden" readonly name="email" th:value="${email}"/>

            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" name="newPassword" placeholder="New password" required/>
            </div>

            <div class="row button">
                <input type="submit" value="Save">
            </div>
        </form>
    </div>
</div>
</body>
</html>