<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>AlgaShop - Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title">
            <div class="header-logo">
                <a href="/" class="logo">
                    <img src="/img/logo.png" alt="AlgaShop">
                </a>
            </div>
        </div>
        <div class="message-content">
            <div class="message-icon">
                <i class="fas fa-info-circle"></i>
            </div>
            <p th:text="${message}"></p>
            <div class="back-link">
                <a th:href="@{/login}">Back to Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>